<div class="container">
	<div class="content-sec">
		<div class="clinic_choices">
			<p>Welcome, Glen!</p>
			</br>
			<%= link_to "Druid Clinic", analytics_path, class: "btn btn-primary clinic" %>
			<a class="btn btn-primary  clinic">Eastern Clinic</a>
			<a class="btn btn-primary  clinic">Both Clinics</a>
		</div>
	</div>