<div class="container">
  <div class="content-sec">
    <form class="home-form">
        <p>To get your secure results, enter your username from the card you received at the clinic and the last four numbers of your social security number or call 1-800-555-3324.</p>
        <input type="text" class="span4" placeholder="Username" required><br/>
        <input type="text" class="span4" placeholder="Last 4 numbers of your social security number" required><br/><br/>
        <%= link_to "Get results", terms_path, class: "btn btn-primary", type: "submit" %><br/><br/>
        <a href="../lost_card"><button class="btn btn-medium btn-primary" type="submit">I lost my card</button></a>
    </form>
  </div>