<div class="container">
	<div class="content-sec results">
		<!-- <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>--<
	<!-- Modal -->
		<div id="myModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="myModalLabel">One question..</h3>
  			</div>
  			<div class="modal-body">
    			<p>Did you receive a shot and a pill (treatment for gonorrhea) when you were tested?</p>
  			</div>
  			<div class="modal-footer">
    			<button class="btn" data-dismiss="modal" aria-hidden="true">Yes</button>
    			<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
  			</div>
		</div>
		<p class="summary">One result needs your attention.<i class="icon-print pull-right"></i></p>
		<div class="accordion" id="accordion2">
  			<div class="accordion-group">
   			 	<div class="accordion-heading ">
      				<a class="accordion-toggle negative" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        				<i class="icon-plus"></i><span class="STD">Chlamydia - throat</span> <span class="result_header">negative - you don't have it</span>
      				</a>
    			</div>
    			<div id="collapseOne" class="accordion-body collapse">
      				<div class="accordion-inner">
      					<p class="this_result_summary">Your chlamydia test came back negative, meaning that chlamydia is not growing in your throat.</p>
      					<p>You should:</p>
        					<ul>
                   				<li><a href="#" data-toggle="tooltip" title="Use condoms for oral, vaginal, and anal sex, for the entire sex act (your partner puts a condom on his penis before it enters your body).">Use condoms</a> when you have sex - this is the best way to protect yourself from getting STDs.</li>
                   				<li>Get tested for chlamydia again in one year.</li>
                   				<li>Get tested right away if you have symptoms or someone you have had sex with has chlamydia.</li>

                   		<!--<li>Chlamydia is a sexually transmitted disease (STD). You can get chlamydia by:</li>
                   			
                    	<li>You should get tested for chlamydia again if:
                    		<ul>
                    			<li>Your vagina itches or if liquid that looks or smells weird is coming out of your vagina</li>
                    			<li>Your anus (butthole) itches or if liquid that looks or smells weird is coming out of your anus</li>
                    			<li>Someone you have had sex with tells you he had chlamydia when you had sex</li>
                    			<li>You have sex without a condom and want to get checked</li>
            					<li>It's been awhile since your last chlamydia test</li>
            				</ul>
                    	</li>
                    	<li>You are less likely to get chlamydia if:
                    		<ul>
                    			<li>You use condoms for oral, vaginal, and anal sex, and for the whole sex act (you partner puts a condom on his penis before it enters your body)</li>
                    		</ul>
                    	</li>-->
        				</ul>
        				<p class="action_buttons">
                    			<a class="btn" target="_blank" href="http://condomfinder.org">Where to get free condoms</a>
                    			<a href="#setReminder" role="button" class="btn" data-toggle="modal">Set a reminder text or email to get tested again</a>
      					</p>

	<!-- Modal -->
		<div id="setReminder" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="myModalLabel">Set a reminder</h3>
  			</div>
  			<div class="modal-body">
    			<p>You should probably get tested again for chalmydia in a year (around <b>June 2, 2014</b>).</p>
    			<br/>
    			<form  class="form-horizontal">
    				<p>Set reminder by:</p>
    				<div class="control-group">
                		<label class="control-label" for="inputEmail">Email</label>
                		<div class="controls">
                    		<input type="email" id="inputEmail" placeholder="Email address">
                		</div>
            		</div>
            		<div class="control-group">
            			<label class="control-label" for="inputEmail">and/or</label>
            		</div>
            		<div class="control-group">
                		<label class="control-label" for="inputPhoneNumber">Text message</label>
                		<div class="controls">
                    		<input type="password" id="inputPhoneNumber" placeholder="Phone number">
                		</div>
            		</div>
            		<p>The message will say:</p>
            		<textarea rows="2" placeholder="It's time to get tested. Find a local clinic at findstdtest.org." class="span5"></textarea>
            		<p>When to get reminded:</p>
            		<label class="radio">
  					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  						on the day I should get tested (6/02/2013)
					</label>
					<label class="radio">
  						<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
  						one week before I should get tested (5/25/2013)
					</label>
					<label class="radio">
  						<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
  						two weeks before I should get tested (5/18/2013)
					</label>
    			</form>
  			</div>
  			<div class="modal-footer">
    			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Set reminder</button>
  			</div>
		</div>
      					</br>
      					<div class="more_info">
      						<!--<p>Date sample was taken: 5/11/2013</p>
      						<p>Place sample was taken from: Throat</p>
      						<p>Type of test: NAAT (<a href="">what is this?</a>)</p>
      						<br/>-->
      						<p><b>Chlamydia</b> ia a sexually transmitted disease (STD). You can get chlamydia by:</p>
      							<ul>
                   					<li>Giving a man who has chlamydia oral sex ("head", "going down on a man") - this is what causes chlamydia in the throat</li>
                   					<li>Having vaginal sex with a man who has chlamydia (having a penis put in your vagina), whether or not he ejaculates (cums)</li>
                   					<li>Having anal sex with a man who has chlamydia (having a penis put in your anus/butthole), whether or not he ejaculates (cums)</li>
                   				</ul>
      						<center>
                    		<a class="btn" href="http://www.plannedparenthood.org/health-topics/stds-hiv-safer-sex/chlamydia-4266.htm" target="_blank">Learn more about chlamydia</a>
      						</center>
      					</div>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
    			<div class="accordion-heading">
      				<a class="accordion-toggle negative" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        				<i class="icon-plus"></i><span class="STD">Chlamydia - vagina</span><span class="result_header">negative - you don't have it</span>
      				</a>
    			</div>
    			<div id="collapseTwo" class="accordion-body collapse">
      				<div class="accordion-inner">
      					<p class="this_result_summary">Your chlamydia test came back negative, meaning that chlamydia is not growing in your vagina.</p>
      					<p>You should:</p>
        					<ul>
                   				<li><a href="#" data-toggle="tooltip" title="Use condoms for oral, vaginal, and anal sex, for the entire sex act (your partner puts a condom on his penis before it enters your body).">Use condoms</a> when you have sex - this is the best way to protect yourself from getting STDs.</li>
                   				<li>Get tested for chlamydia again in one year.</li>
                   				<li>Get tested right away if you have symptoms or someone you have had sex with has chlamydia.</li>
        					</ul>
        				<p class="action_buttons">
                    			<a class="btn" target="_blank" href="http://condomfinder.org">Where to get free condoms</a>
                    			<a href="#setReminder" role="button" class="btn" data-toggle="modal">Set a reminder text or email to get tested again</a>
      					</p>
      					</br>
      					<div class="more_info">
      						<!--<p>Date sample was taken: 5/11/2013</p>
      						<p>Place sample was taken from: Cervix (<a href="">what is this?</a>)</p>
      						<p>Type of test: NAAT (<a href="">what is this?</a>)</p>
      						<br/>-->
      						<p><b>Chlamydia</b> ia a sexually transmitted disease (STD). You can get chlamydia by:</p>
      							<ul>
                   					<li>Giving a man who has chlamydia oral sex ("head", "going down on a man")</li>
                   					<li>Having vaginal sex with a man who has chlamydia (having a penis put in your vagina), whether or not he ejaculates (cums) - this is what usually causes chlamydia in the vagina</li>
                   					<li>Having anal sex with a man who has chlamydia (having a penis put in your anus/butthole), whether or not he ejaculates (cums)</li>
                   				</ul>
      						<center>
                    		<a class="btn" href="http://www.plannedparenthood.org/health-topics/stds-hiv-safer-sex/chlamydia-4266.htm" target="_blank">Learn more about chlamydia</a>
      						</center>
      					</div>
      				</div>
      			</div>	
  			</div>
  			<div class="accordion-group">
   			 	<div class="accordion-heading ">
      				<a class="accordion-toggle positive" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        				<i class="icon-plus"></i><span class="STD">Gonorrhea</span> <span class="result_header">positive - you do have it</span>
      				</a>
    			</div>
    			<div id="collapseThree" class="accordion-body collapse in">
      				<div class="accordion-inner">
      					<p class="this_result_summary">Your gonorrhea test came back positive, meaning that you have gonorrhea.</p>
      					<p>You need to:</p>
        					<ul>
                   				<li>Get treated.</li>
                   				<li>Tell your partners so they can get tested.</li>
                   				<li>Get tested again in 3 months.</li>
        					</ul>
        				<p class="action_buttons">
                    			<a class="btn" target="_blank" href="">Get treated</a>
                    			<a href="#tellPartners" role="button" class="btn" data-toggle="modal">Tell your partners</a>
                    			<a href="#set3monthReminder" role="button" class="btn" data-toggle="modal">Set a reminder to get tested</a>
      					</p>
      					</br>
      					<div class="more_info">
      						<!--<p>Date sample was taken: 5/11/2013</p>
      						<p>Place sample was taken from: Cervix (<a href="">what is this?</a>)</p>
      						<p>Type of test: NAAT (<a href="">what is this?</a>)</p>
      						<br/>-->
      						<p><b>Gonorrhea</b> ia a sexually transmitted disease (STD). You can get gonorrhea by:</p>
      							<ul>
                   					<li>Giving a man who has gonorrhea oral sex ("head", "going down on a man")</li>
                   					<li>Having vaginal sex with a man who has gonorrhea (having a penis put in your vagina), whether or not he ejaculates (cums) - this is what usually causes gonorrhea in the vagina</li>
                   					<li>Having anal sex with a man who has gonorrhea (having a penis put in your anus/butthole), whether or not he ejaculates (cums)</li>
                   				</ul>
      						<center>
                    		<a class="btn" href="http://www.plannedparenthood.org/health-topics/stds-hiv-safer-sex/gonorrhea-4269.htm" target="_blank">Learn more about gonorrhea</a>
      						</center>
      					</div>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
   			 	<div class="accordion-heading ">
      				<a class="accordion-toggle pending" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        				<i class="icon-plus"></i><span class="STD">Syphilis</span> <span class="result_header">pending - check back in two days</span>
      				</a>
    			</div>
    			<div id="collapseFour" class="accordion-body collapse">
      				<div class="accordion-inner">
        			<ul>
                   		<li>Your results are not ready yet. Check again in two days to see if they are ready then.</li>
                    	<li>Syphilis is a common sexually transmitted disease in Baltimore.</li>
                    	<li>If you have syphilis, and you don't get treated, it could kill you. So it's important to check for your results.</li>
        			</ul>
      				</div>
    			</div>
  			</div>
		</div>
		<div id="set3monthReminder" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="myModalLabel">Set a reminder</h3>
  			</div>
  			<div class="modal-body">
    			<p>Three months after your testing date (around <b>September 2, 2013</b>), you need to be tested again for gonorrhea.</p>
    			<br/>
    			<form  class="form-horizontal">
    				<p>Set reminder by:</p>
    				<div class="control-group">
                		<label class="control-label" for="inputEmail">Email</label>
                		<div class="controls">
                    		<input type="email" id="inputEmail" placeholder="Email address">
                		</div>
            		</div>
            		<div class="control-group">
            			<label class="control-label" for="inputEmail">and/or</label>
            		</div>
            		<div class="control-group">
                		<label class="control-label" for="inputPhoneNumber">Text message</label>
                		<div class="controls">
                    		<input type="password" id="inputPhoneNumber" placeholder="Phone number">
                		</div>
            		</div>
            		<p>The message will say:</p>
            		<textarea rows="2" placeholder="It's time to get tested. Find a local clinic at findstdtest.org." class="span5"></textarea>
            		<p>When to get reminded:</p>
            		<label class="radio">
  					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  						on the day I should get tested (6/02/2013)
					</label>
					<label class="radio">
  						<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
  						one week before I should get tested (5/25/2013)
					</label>
					<label class="radio">
  						<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
  						two weeks before I should get tested (5/18/2013)
					</label>
    			</form>
  			</div>
  			<div class="modal-footer">
    			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Set reminder</button>
  			</div>
		</div>
		<div id="tellPartners" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="myModalLabel">Tell your partners</h3>
  			</div>
  			<div class="modal-body">
    			<p>As soon as possible, you need to tell any <b>current partners</b> to get tested and/or treated for gonorrhea.</p>
    			<p>If you don't, they will probably give you gonorrhea if you have sex with them again, even if you've already been treated.</p>
    			<p>You should also tell your <b>past partners</b> (anyone you might have given it to you or who you might have given it to) to get tested.</p>
    			<p>If you don't, they might become very sick or give gonorrhea to someone else.</p>
    					
  			</div>
  			<div class="modal-footer">
    			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Tell them yourself</button>
    			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Tell them anonymously</button>
  			</div>
		</div>
		
	</div>

