<div class="container">
	<div class="content-sec">
		<h1>Terms of use</h1>
		<div id="terms">
			<p>TERMS OF USE</p>
			<p>LAST UPDATED: August 30, 2012</p>
				<p><b>Please read this Terms of Use agreement carefully. Your use of the Site (as defined below) constitutes your agreement to these Terms of Use.</b></p>
				
				<p>This Terms of Use Agreement (<b>the “Agreement”</b>) is between you (<b>“you”</b>) and Sexual Health Innovations (<b>“SHI</b>,” “<b>we</b>,” “<b>us</b>”) concerning your use of the online site currently located at http://www.sotheycanknow.org/ (together with any successor site(s) and all Services (as defined below), the “<b>Site</b>”).

				<p><b>Anonymous Message Service.</b>  WE MAY MAKE AVAILABLE THROUGH THE SITE THE ABILITY TO SEND AND RECEIVE AN ANONYMOUS MESSAGE REGARDING THE POTENTIAL RISK FOR SEXUALLY TRANSMITTED DISEASES (“Anonymous Message Service”).  THE RECEIPT OF SUCH A MESSAGE DOES NOT NECESSARILY MEAN THAT YOU HAVE A SEXUALLY TRANSMITTED DISEASE OR THAT YOU ARE AT RISK FOR A SEXUALLY TRANSMITTED DISEASE.  IT MEANS ONLY THAT A USER OF THE SITE HAS PROVIDED US WITH YOUR E-MAIL ADDRESS AND REQUESTED THAT SUCH MESSAGE BE SENT TO YOU.  WE DO NOT GUARANTE THAT MESSAGES SENT TO YOU THROUGH THE ANONYMOUS MESSAGE SERVICE HAVE BEEN REQUESTED BY A USER WITH WHOM YOU HAVE HAD PREVIOUS SEXUAL CONTACT.  WE MAKE NO INQUIRY INTO THE EXISTENCE OF ANY RELATIONSHIP BETWEEN A USER OF OUR ANONYMOUS MESSAGE SERVICE AND A RECIPIENT.  WE DO NOT GUARANTEE THAT ALL MESSAGES THAT USERS MAY ATTEMPT TO SEND THROUGH THE ANONYMOUS MESSAGE SERVICE WILL BE DELIVERED, AND SEXUAL HEALTH INNOVATIONS SHALL NOT BE RESPONSIBLE FOR THE CONTENT OF, THE DELIVERYOF OR THE FAILURE TO DELIVER ANY SUCH MESSAGE.  IF YOU HAVE ANY CONCERNS REGARDING SEXUAL HEALTH OR OTHER HEALTH-RELATED ISSUES, SEEK ADVICE FROM YOUR DOCTOR.  AS DISCUSSED BELOW, NO INFORMATION YOU RECEIVE FROM SHI OR THROUGH THE ANONYMOUS MESSAGE SERVICE IS INTEDED AS A SUBSTITUTE FOR PROFESSIONAL MEDICAL ADVICE.
				</p>

				<ol>
					<li><b>Acceptance of Terms.</b>  The Site is made available by SHI subject to this Agreement.  We reserve the right to update or make changes to this Agreement from time to time in our sole discretion, which changes we may provide to you by any reasonable means, including, without limitation, by posting the revised version of this Agreement on the Site.  Any changes will be effective immediately upon such posting.  <b>Your use of the Site after such changes are posted will signify your acceptance of such changes and your agreement to be bound by them.</b>  Notwithstanding the foregoing, any changes to the Agreement shall not apply to any dispute between us arising prior to the date on which we post the revised agreement that contains such changes.  You can determine when this Agreement was last revised by referring to the “LAST UPDATED” legend at the top of this Agreement.  When using any Services (as defined below), you agree that you are subject to any additional posted guidelines, rules, terms and conditions applicable to such Services, which are hereby incorporated by reference into this Agreement.
					<br/></br>We reserve the right, at any time and from time to time, temporarily or permanently, in whole or in part, to:  modify or discontinue the Site, with or without notice; charge fees in connection with the use of the Site; modify and/or waive any fees charged in connection with the Site; and/or offer opportunities to some or all users of the Site.  You agree that we shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Site, in whole or in part, or of any Service, content, feature or product offered through the Site.  
					</li>
				
					<li>
					<b>Jurisdictional Issues.</b>  The Site is controlled and operated by SHI from the United States, and is not intended to subject SHI to the laws or jurisdiction of any state, country or territory other than that of the United States.  SHI does not represent or warrant that the Site or any part thereof is appropriate or available for use in any particular jurisdiction other than the United States.  In choosing to access the Site, you do so on your own initiative and at your own risk, and you are responsible for complying with all local laws, rules and regulations.  You are also subject to United States export controls and are responsible for any violations of such controls, including any United States embargoes or other federal rules and regulations restricting exports.  We may limit the Site's availability, in whole or in part, to any person, geographic area or jurisdiction we choose, at any time and in our sole discretion.  Not all products or services described on the Site are available in all states or territories.  
					</li>
				
					<li>
					<b>Description of the Services.</b>  
					We provide users of the Site with access to certain content and services related to sexual health awareness, which may include, without limitation: (a) services such as the Anonymous Message Service; and (b) content such as general information related to sexual health, links to third party websites, and  photographs, graphics, images, text, data and other similar content (such content and services, collectively, the "<b>Services</b>"). 
					</br></br>
					<b>IMPORTANT NOTE REGARDING HEALTH-RELATED INFORMATION: YOUR USE OF THE SITE AND ANY INFORMATION PROVIDED ON OR IN CONNECTION WITH THE SITE IS AT YOUR OWN RISK. THE SITE MAY PROVIDE CERTAIN INFORMATION REGARDING SEXUAL HEALTH AND OTHER HEALTH-RELATED ISSUES. SUCH INFORMATION (A) IS NOT INTENDED AS A SUBSTITUTE FOR PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS OR TREATMENT, (B) SHOULD NOT BE CONSTRUED AS THE PROVISION OF ADVICE OR RECOMMENDATIONS, AND (C) SHOULD NOT BE RELIED UPON AS THE BASIS FOR ANY DECISION OR ACTION, INCLUDING WITHOUT LIMITATION THE DIAGNOSIS OR TREATMENT OF ANY HEALTH PROBLEM. SHI IS NOT RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY SUCH INFORMATION. SUCH INFORMATION IS NOT EXHAUSTIVE AND SHOULD NOT BE CONSIDERED COMPLETE OR UP-TO-DATE. IT IS YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY INFORMATION AVAILABLE THROUGH THE SITE. THE RELATIONSHIP BETWEEN YOU AND SHI IS NOT A PHYSICIAN-PATIENT OR SIMILAR RELATIONSHIP; ALWAYS SEEK THE ADVICE OF YOUR PHYSICIAN OR OTHER QUALIFIED HEALTH CARE PROVIDER WITH ANY QUESTIONS YOU MAY HAVE REGARDING A MEDICAL CONDITION, AND NEVER DISREGARD PROFESSIONAL MEDICAL ADVICE OR DELAY IN SEEKING IT BECAUSE OF SOMETHING YOU HAVE READ ON THE SITE.
				</br></br>
				IF YOU THINK YOU MAY HAVE A MEDICAL EMERGENCY, CALL YOUR DOCTOR OR 911 IMMEDIATELY. SHI DOES NOT RECOMMEND OR ENDORSE ANY SPECIFIC TESTS, PHYSICIANS, PRODUCTS, PROCEDURES, OPINIONS, OR OTHER INFORMATION THAT MAY BE MENTIONED ON THE SITE. RELIANCE ON ANY INFORMATION PROVIDED BY SHI, SHI’S EMPLOYEES, INDIVIDUALS PROVIDING INFORMATION IN CONNECTION WITH THE SITE AT THE INVITATION OF SHI, OTHER VISITORS TO THE SITE OR USERS OF THE SERVICES AND/OR ANY OTHER THIRD PARTY IS SOLELY AT YOUR OWN RISK.
				</b>
		</div>
		<div id="accept_terms">
			<label class="checkbox">
  				<input type="checkbox" value="" id="accept">
  			I accept the Terms of Use above
			</label>
		
			<%= link_to "Log out", clinics_path, class: "btn" %>
			<%= link_to "Continue", results_path, class: "btn btn-primary", id: "continue_results" %>
		</div>
	</div>